# Core functionality - changes here should be rare!
/src/app.py                   @JackStewart808
/src/backend/database.py      @JackStewart808
/src/backend/routers/auth.py  @JackStewart808

# The frontend will need refactored soon to be more object oriented.
/src/static/   @JackStewart808
